
 * {
  padding: 0;
 }
 
 body {
  font-family: Arial, sans-serif;
  background-image: url('/plasticBryan/files/EnvJustice2-modified.webp');
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
 }

 header, #footer {
  display: flex;
  justify-content: flex-end;
  background-color: #1c5508b0;
  padding: 2.2vh;
  text-align: center;
  color: #fff;
 }
 
 p, h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: -0.3vw 0.3vh 0.5vw rgba(255, 255, 255, 0.977);
 }
 
 p {
  font-size: large;
  text-shadow: -0.3vw 0.3vh 0.5vw rgba(255, 255, 255, 0.977);
 }
 
 h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1vh;
  text-transform: uppercase;
  z-index: 1;
 }
 
 #geoLogo {
  position: absolute;
  left: 2%;
  top: -0.5%;
  width: 25%;
  height: 30%;
  z-index: 0;
 }
 
 main {
  padding: 2vw;
 }
 
 #img1, #img2, #img3, #img4 {
  width: 55vh;
  height: 15vw;
  box-shadow: 2px 2px 11px 4px;
  border-radius: 7.5px;
 }
 
 ul {
  list-style: none;
  display: inline-flex;
 }
 
 ul li a {
  text-decoration: none;
  padding-right: 3vw;
  color: white;
 }
 
 .project1, .project2, .project3, .project4 {
  background-color: #f38e00dc;
  box-shadow: 1vw 0.5vh rgba(0, 0, 0, 0.511);
  border: 0.1vw solid #00000076;
  border-radius: 4.1vw;
  padding: 2vw;
  margin-bottom: 1vh;
  max-width: 37%;
  padding-left: 1%;
  display: inline-block;
 }
 
 .project1 {
  margin-left: 8%;
  margin-right: 2%;
  margin-bottom: 4%;
 }
 
 .project3 {
  margin-left: 8%;
  margin-right: 2%;
  margin-bottom: 4%; 
}
 

 

 #footer {
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1vw;
}
 
 /* Responsive Designs */
 @media screen and (max-width: 550px) {
  p, h2 {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -0.3vw 0.3vh 0.5vw rgba(255, 255, 255, 0.977);
   }
   
  p {
    text-shadow: -0.3vw 0.3vh 0.5vw rgba(255, 191, 73, 0.833);
  }
   
   h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1vh;
    text-transform: uppercase;
    z-index: 1;
   }
 
  #geoLogo {
     top: -1.7%;
     width: 54%;
     height: 20%;
  }
 
  .project1, .project2, .project3, .project4 {
    background-color: #f38e00dc;
    box-shadow: 1vw 0.5vh rgba(1, 108, 16, 0.304);
    border: 0.1vw solid #cdf907;
    border-radius: 4.1vw;
    padding: 2vw;
    margin-bottom: 1vh;
    max-width: 37%;
    padding-left: 1%;
    display: contents;
   }
   
   .project1 {
    margin-right: 2%;
    margin-bottom: 4%;
   }
   
   .project3 {
    margin-right: 2%;
    margin-bottom: 4%; 
   }

  #img1, #img2, #img3, #img4 {
     display: inline;
     justify-content: center;
     width: 35vh;
     height: 25vw;
     box-shadow: 2px 2px 11px 4px;
     border-radius: 5px;
  }
 

 }
 
 @media screen and (min-width: 551px) and (max-width: 850px) {
  p, h2 {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -0.3vw 0.3vh 0.5vw rgba(255, 255, 255, 0.977);
   }
   
  p {
    text-shadow: -0.3vw 0.3vh 0.5vw rgba(255, 191, 73, 0.833);
  }
   
   h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1vh;
    text-transform: uppercase;
    z-index: 1;
   }
 
  #geoLogo {
     top: -1.7%;
     width: 35%;
     height: 20%;
  }
 
  .project1, .project2, .project3, .project4 {
    background-color: #f38e00dc;
    box-shadow: 1vw 0.5vh rgba(1, 108, 16, 0.304);
    border: 0.1vw solid #cdf907;
    border-radius: 4.1vw;
    padding: 2vw;
    margin-bottom: 1vh;
    max-width: 37%;
    padding-left: 1%;
    display: contents;
   }
   
   .project1 {
    margin-right: 2%;
    margin-bottom: 4%;
   }
   
   .project3 {
    margin-right: 2%;
    margin-bottom: 4%; 
   }

  #img1, #img2, #img3, #img4 {
     display: inline;
     justify-content: center;
     width: 35vh;
     height: 25vw;
     box-shadow: 2px 2px 11px 4px;
     border-radius: 5px;
  }
 

 }
 
 @media screen and (min-width: 820px) and (max-width: 1024px) {
  #geoLogo {
     left: 2%;
     top: -2.5%;
     width: 42%;
     height: 25%;
  }
 
  #imgDiv1, #imgDiv2, #imgDiv3 {
     margin-left: 3vw;
  }
 
  #img1, #img2, #img3, #img4 {
     width: 22vh;
     height: 18vw;
  }
 }
 
 @media screen and (min-width: 1025px) and (max-width: 1200px) {
  #geoLogo {
     left: 2%;
     top: -2.5%;
     width: 42%;
     height: 25%;
  }
 
  #imgDiv1, #imgDiv2, #imgDiv3 {
     margin-left: 2vw;
  }
 
  #img1, #img2, #img3, #img4 {
     width: 31vh;
     height: 25vw;
  }
 }
 
